---
import SocialMediaIcons from "@components/SocialMediaIcons.astro";
//import HighlightedLink from "./HighlightedLink.astro";
import SelectableTag from "@components/SelectableTag.astro";
---

<div class="flex flex-col gap-8 items-center mx-auto mt-24">
  <div class="flex flex-col gap-2 items-center mx-auto">
    <img
      decoding="async"
      loading="lazy"
      class="w-20 h-20 rounded-full shadow-sm sm:w-28 sm:h-28 shadow-white aspect-[1/1]"
      src="/images/profile_small3.jpg"
      alt="Small avatar of myself"
    />
    <SocialMediaIcons
      class="w-8 h-8 stroke-1 hover:cursor-pointer stroke-primary-300 hover:stroke-accent-400"
    />
  </div>
  <div class="flex flex-col gap-4 mb-2 max-w-[75ch]">
    <p class="text-primary-300">
      Navigating from art to algorithms, I chronicle my path and the lessons
      from building a tech-driven business from scratch to scale.
    </p>
  </div>
</div>
